* {
    padding:0;
    margin:0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;  
}

body {
    background-color:#000000;
    font-family: 'Nunito', sans-serif;
}

header {
    justify-content: space-between;
    border-bottom: 3px solid #5CE1E6;
    height: 60px;
    box-shadow: 1px 2px 3px #ee0eef;
}

nav ul {
    display:flex;
    justify-content: center;
}

nav li {
    padding: 7px;
    color: #f1f1f1;
    font-size: 30px;
}
a :hover{
    color:#5CE1E6;
    text-shadow:2px 2px #ee0eef;
    transition: 500ms;
}

 /* inicio modal contato */

.modal-form {
    text-align: center;
    background-color: #f1f1f1;
    border-radius: 5px;
    align-items: center;
    min-width: 250px;   
    max-width: 17%;
    margin: 20px;
    padding: 15px;
    box-shadow: 3px 3px #5CE1E6;
    display: absolute !important;
    margin-left: auto !important; 
    z-index: 10;
    visibility: hidden; 
    animation: slide-reverse 1.5s ease-out;
    float: right;
}

.contato-action {
    visibility: visible;
    animation: slide 1.5s ease-out forwards;
}

@keyframes slide {
    from {
        transform: translateX(0px);
        opacity: 0;
    }
    to {
        transform: translateX(-50px);
        opacity: 1;
    }
}

@keyframes slide-reverse {
    from {
        transform: translateX(-50px);
        opacity: 1;
    }
    to {
        transform: translateX(0px);
        opacity: 0;
    }
}

#animation {
    transition: 1000ms;
    display:block !important;
}

.form{
    font-weight: 600;
    margin: 0 auto;
    text-shadow: 1px 1px #c2c2c2;
    gap: 0.5em, 0.5em;
    padding: 2px;
}

#text{
    border-top-style: none;
    border-left-style:none;
    box-shadow: 1px 1px #afb1b1;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    width: 80%;
    gap: 0.5em, 0.5em;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 80%;
    overflow: hidden;
    display: flex;
    margin: 0 auto;
    background-color:#5CE1E6;
    border-radius: 5px;
    padding: 5px;
    border-style: none;
    font-weight: 700;
    box-shadow: 2px 2px #ee0eef;
    size-adjust: auto;
}

textarea {
    height:100px;
    resize: none;
    font-family:'Nunito', sans-serif;
}

button{
    background-color:#5CE1E6;
    border-radius: 5px;
    margin: 5px;
    padding: 4px;
    border-style: none;
    font-weight: 700;
    box-shadow: 2px 2px #ee0eef;
    width:35%;
}

button:hover{
    box-shadow: 2px 2px #5CE1E6;
    background-color:#ee0eef;
    font-weight: 700;
    transition: 500ms;
    width: 35%;
}

 /* Fim modal contato */

#Apresentação {
    display: grid;
    grid-template-columns: 150px 270px 200px 350px 400px;
    grid-template-rows:50px 40px 120px 80px 120px;
    margin-bottom: 100px;
}

/* logo  */

.card{
    z-index: -1;
    width:300px;
    height:300px;
    grid-row: 3;
    grid-column: 2;
    perspective: 600px;
    margin: 0 auto;
}

.card-content{
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    position: relative;
    animation: rotate 7s linear infinite;
}

@keyframes rotate {
    to {
        transform: rotateY(360deg);
    }
}

.card__f{
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    font-family:  'Oswald', sans-serif;
    font-size: 90px;
    color:#f1f1f1;
    text-shadow:3px 3px #ee0eef;
    text-align: center;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.card__f img{
    border-radius: 10px;
    height: 300px;
}
.card__f--frente {
    background-color: #000000;
    border-radius: 10px;
}
.card__f--verso{
    background:#5CE1E6;
    transform: rotateY( 180deg );
}

/* fim logo  */

#ap1{
    grid-row: 3;
    grid-column: 4;
}
#ap2 {
    grid-row: 3;
    grid-column: 5;
}
#ap3{
    grid-row: 5;
    grid-column: 4;
}
#ap4 {
    grid-row: 5;
    grid-column: 5;
}

.container { 
    border-radius: 12px;
    color:#f1f1f1;
    text-shadow: 1px 1px 3px #dfd7df ;
    height:120px;
    width: 280px;
    margin: 5px;
    text-align:center;
    font-family: 'Oswald', sans-serif;
    text-decoration:line-through solid #ee0eef;
    font-size: 0px;
    border-top: 5px solid #5CE1E6 ;
    border-left:5px solid #5CE1E6 ;
    box-shadow: 7px 7px #ee0eef;
    background-color:#121313;
    cursor: pointer;
    position: initial;
}

.div-header {
    border-radius: 5px;
    background:#121313 center;
    height: 115px;
    font-size: 75px;
   padding-bottom: 10px;
}

.container.mouseenter{
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(15px) saturate(1%);
    background-color: rgba(255, 255, 255, 0.171);
    border-radius: 12px;
    border-top: 5px solid #5CE1E6 ;
    border-left:5px solid #5CE1E6 ;
    height: fit-content;
    width: 500px;
    padding: 5px;
    text-decoration: 2px underline #ee0eef;
    text-shadow: 2px 2px 3px #303030;
    color:#ffffff;
    font-size: 45px;
}

#ap1.mouseenter{
    margin-left: 55px ;
    margin-top: -10px;
}

#ap2.mouseenter{
    margin-left: -290px;
    margin-top: -10px;
}

#ap3.mouseenter{
    margin-top: -210px;
    margin-left: 55px;
}

#ap4.mouseenter{
    margin-top: -210px;
    margin-left: -290px;
}

.div-header.mouseenter {
    font-size: 0px;
    background: none;
    height: 0px;
}

.mouseenter{
    transition: 500ms;
    transition-delay: 300ms;
    display:block;
}

.mouseleave{
    transition: 500ms;
    transition-delay: 300ms;
}

/* fim apresentação */


footer {
    background-color:#121313;
    /* border-top: 3px solid #ee0eef; */
    height: 50px;
    padding: 10px;
    text-align: end;
    font-weight: 700;
    color: #f1f1f1;
    border-top: 3px solid #a313a3;
    box-shadow:  0px 3px #306c6e ;
}

@media only screen and (max-width: 1300px) {
    #Apresentação {
        display: grid;
        grid-template-columns: 20% 20% 20% 20% 20% ;
        grid-template-rows: 20% 20% 20% 20% 20%;
        margin-bottom: 200px;
    }
    .card{
        width:300px;
        height:300px;
        grid-row: 2;
        grid-column: 2;
        perspective: 600px;
        margin: 0 auto;
    }
    #ap1{
        grid-row: 2;
        grid-column: 4;
    }
    #ap2 {
        grid-row: 3;
        grid-column: 5;
    }
    #ap3{
        grid-row: 4;
        grid-column: 4;
    }
    #ap4 {
        grid-row: 5;
        grid-column: 5;
    }
    
    #ap1.mouseenter{
    margin: 0 auto;
    margin-top: -100px;
    }

    #ap2.mouseenter{
        margin-left: -200px;
        margin-top: -100px;
    }

    #ap3.mouseenter{
        margin: 0 auto;
        margin-top: -100px;
    }

    #ap4.mouseenter{
        margin-left: -200px;
        margin-top: -100px;
    }
}

@media only screen and (max-width: 1000px) {
    #Apresentação {
        display: grid;
        grid-template-columns: 10% 20% 20% 20% 20%;
        grid-template-rows: 20% 50% 20% 20% 20% 20%;
        margin-bottom: 500px;
    }
    .card{
        width:300px;
        height:300px;
        grid-row: 2;
        grid-column: 4;
        perspective: 600px;
        margin: 0 auto;
    }
    #ap1{
        grid-row: 3;
        grid-column: 3;
    }
    #ap2 {
        grid-row: 4;
        grid-column: 5;
    }
    #ap3{
        grid-row: 5;
        grid-column: 3;
    }
    #ap4 {
        grid-row: 6;
        grid-column: 5;
    }
}

@media only screen and (max-width: 480px) {
    #Apresentação {
        display: grid;
        grid-template-columns: 20% 20% 20% 20% 20% ;
        grid-template-rows: 10% 50% 20% 20% 20% 20%;
        margin-bottom: 400px;
    }
    .card{
        width:300px;
        height:300px;
        grid-row: 2;
        grid-column: 3;
        perspective: 600px;
        margin: 0 auto;
    }
    #ap1{
        grid-row: 3;
        grid-column: 2;
    }
    #ap2 {
        grid-row: 4;
        grid-column: 4;
    }
    #ap3{
        grid-row: 5;
        grid-column: 2;
    }
    #ap4 {
        grid-row: 6;
        grid-column: 4;
    }
    .container.mouseenter{
        backdrop-filter: blur(16px) saturate(180%);
        -webkit-backdrop-filter: blur(15px) saturate(1%);
        background-color: rgba(255, 255, 255, 0.171);
        border-radius: 12px;
        border-top: 5px solid #5CE1E6 ;
        border-left:5px solid #5CE1E6 ;
        height: fit-content;
        width: 390px;
        padding: 5px;
        text-decoration: 2px underline #ee0eef;
        text-shadow: 2px 2px 3px #303030;
        color:#ffffff;
        font-size: 45px;
    }
    #ap1.mouseenter{
        margin: 0 auto;
        margin-top: -100px;
        }
    
        #ap2.mouseenter{
            margin: 0 auto;
            margin-top: -100px;
            margin-left: -80px;
        }
    
        #ap3.mouseenter{
            margin: 0 auto;
            margin-top: -200px;
        }
    
        #ap4.mouseenter{
            margin: 0 auto;
            margin-top: -300px;
            margin-left: -80px;
        }
    }